@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline-main-wrapper {
    padding: 0 !important;
}

.card-media-wrapper {
    @apply !bg-base-100;
}

.timeline-card-content {
    @apply !bg-base-100;
}

div:has(> .timeline-item-title) {
    @apply hidden md:flex;
}

div:has(> .timeline-vertical-circle) {
    @apply hidden md:flex;
}

div:has(> .vertical-item-row) {
    @apply p-0;
}

.card-content-wrapper {
    @apply !w-full md:w-3/4;
}